body{
  background-color: #edcca1;
}
#topWell{
  /*background-color: #fff8bc;*
  padding-bottom: -2px;
}
.noah{
  background-size: 100%;
}
.jumbotron{
  background-color: #fff8bc;
}
.jumbotron h1{
  color: #428bca;
}
.about{
  font-size: 17px;
}
#noah{
  width: 40%;
}
#pet{
  float: left;
  padding-right: 20px;
}
#island{
  float: left;
  padding-right: 20px;
}
#borderProjects{
  border: 2px solid #428bca
}
