.nav li{
  font-size: 20px;
  font-family: 'Shrikhand', cursive;
}
body{
  background-color: #edcca1;
  
}
.jumbotron{
  background-color: #fff8bc;
}
.jumbotron h1{
  color: #428bca;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-family: 'Alfa Slab One', cursive;
}
.jumbotron p{
  text-align:center;
  font-family: 'Righteous', cursive;
}
.about{
  font-size: 17px;
  font-family: monospace;
}
.noah #noah{
  width: 70%;
  padding-top: 40px;
  padding-bottom: 20px;
}
#pet{
  float: left;
  padding-right: 20px;
}
#island{
  float: left;
  padding-right: 20px;
}
#home{
  float: left;
  padding-right: 20px;
}
#wiki{
  float: left;
  padding-right: 20px;
  width:55%;
}
#borderProjects{
  border: 2px solid #428bca;
}
#borderProjects2{
  border: 2px solid #428bca;
}
